/.vs/ThumbnailGenerator/DesignTimeBuild/.dtbcache.v2
/.idea/.idea.ThumbnailGenerator/.idea/.gitignore
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.vs/ThumbnailGenerator/v17/.suo
/obj/Debug/net7.0/_IsIncrementalBuild
/obj/Debug/net7.0/apphost.exe
/.idea/.idea.ThumbnailGenerator/.idea/encodings.xml
/.vs/ThumbnailGenerator/FileContentIndex/f90f3004-91ff-4936-be9e-f9b2f0886745.vsidx
/.vs/ThumbnailGenerator/FileContentIndex/f6266842-a58b-4041-bd4f-2fc08e0f3bfc.vsidx
/.idea/.idea.ThumbnailGenerator/.idea/indexLayout.xml
/bin/Debug/net7.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/Program.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/.vs/ThumbnailGenerator/FileContentIndex/read.lock
/Size.cs
/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
/bin/Debug/net7.0/System.Drawing.Common.dll
/obj/Debug/net7.0/ThumbnailGenerator.AssemblyInfo.cs
/obj/Debug/net7.0/ThumbnailGenerator.AssemblyInfoInputs.cache
/obj/Debug/net7.0/ThumbnailGenerator.assets.cache
/ThumbnailGenerator.csproj
/obj/Debug/net7.0/ThumbnailGenerator.csproj.AssemblyReference.cache
/obj/Debug/net7.0/ThumbnailGenerator.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/ThumbnailGenerator.csproj.CopyComplete
/obj/Debug/net7.0/ThumbnailGenerator.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/ThumbnailGenerator.csproj.FileListAbsolute.txt
/obj/ThumbnailGenerator.csproj.nuget.dgspec.json
/obj/ThumbnailGenerator.csproj.nuget.g.props
/obj/ThumbnailGenerator.csproj.nuget.g.targets
/bin/Debug/net7.0/ThumbnailGenerator.deps.json
/bin/Debug/net7.0/ThumbnailGenerator.dll
/obj/Debug/net7.0/ref/ThumbnailGenerator.dll
/obj/Debug/net7.0/refint/ThumbnailGenerator.dll
/obj/Debug/net7.0/ThumbnailGenerator.dll
/bin/Debug/net7.0/ThumbnailGenerator.exe
/obj/Debug/net7.0/ThumbnailGenerator.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/ThumbnailGenerator.genruntimeconfig.cache
/obj/Debug/net7.0/ThumbnailGenerator.GlobalUsings.g.cs
/bin/Debug/net7.0/ThumbnailGenerator.pdb
/obj/Debug/net7.0/ThumbnailGenerator.pdb
/bin/Debug/net7.0/ThumbnailGenerator.runtimeconfig.json
/ThumbnailGenerator.sln
/.vs
/.idea/.idea.ThumbnailGenerator/.idea
